@import '../../style.scss';

.navigationBar {
  background-color: #85dcb0;
  position: sticky;
  padding: 30px;
  width: 100vw;
  @include mobile {
    padding: 20px;
  }
  @include tablet {
    padding: 20px;
  }

  span {
    font-weight: 600;
    // color: white;
    font-size: larger;
  }
}
